Assets/New Prefab.prefab
Assets/New Prefab.prefab.meta
Library/ArtifactDB
Library/Artifacts/c3/c3a96b7189d8438cf59f5c46d757731d
Library/Bee/1900b0aE-inputdata.json
Library/Bee/1900b0aE.dag
Library/Bee/1900b0aE.dag.json
Library/Bee/1900b0aE.dag.outputdata
Library/Bee/1900b0aE.dag.payloads
Library/Bee/1900b0aE.dag_derived
Library/Bee/1900b0aE.dag_fsmtime
Library/Bee/artifacts/1900b0aE.dag/Unity.2D.Sprite.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.2D.Sprite.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.rsp2
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.rsp2
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.rsp2
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.rsp2
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.UnityAdditionalFile.txt
Library/Bee/backend1.traceevents
Library/Bee/backend2.traceevents
Library/Bee/buildprogram0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/EditorInstance.json
Library/ilpp.pid
Library/PackageManager/ProjectCache
Library/PackageManager/ProjectCache.md5
Library/Search/transactions.db
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0-0.log
Logs/shadercompiler-AssetImportWorker1-0.log
Temp/FSTimeGet-1573e87877c0ce745b9daf5cf9ba7802
Temp/FSTimeGet-767a812701bd73040b0c42cc84ec777b
Temp/FSTimeGet-c448aba2ad209f14098474e1ad11a162
Temp/UnityLockfile
